name: Publish to WinGet

on:
  release:
    types: [released]

jobs:
  winget:
    runs-on: windows-latest
    steps:
      - uses: vedantmgoyal9/winget-releaser@main
        with:
          identifier: WenAnLin.wedi
          token: ${{ secrets.WINGET_TOKEN }}
          installers-regex: '\.exe$'
          max-versions-to-keep: 5