name: Publish to WinGet

on:
  workflow_dispatch:
    inputs:
      tag_name:
        description: "Tag name for the release"
        required: true
        type: string
  # release:
  #   types: [released]

jobs:
  winget:
    runs-on: windows-latest
    steps:
      - uses: vedantmgoyal9/winget-releaser@main
        with:
          identifier: WenAnLin.wedi
          token: ${{ secrets.WINGET_TOKEN }}
          installers-regex: '\.exe$'
          max-versions-to-keep: 5
          release-tag: ${{ github.event.inputs.tag_name || github.event.release.tag_name }}
